.infoBlock {
    width: 100%;
    border-radius: 16px;
    font-family: "Inter", sans-serif;
    color: #333;
    box-sizing: border-box;
    margin-top: 24px;
    text-align: left;
    margin-bottom: 36px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: #6899fd;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #000;
    margin-bottom: 12px;
}

.textTitle {
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}

.emergencyTitle {
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}

.emergency {
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
}
