.custom-select {
    width: 100%;
    position: relative;
    padding: 8px 0;


    :global(.ant-select-selector) {
        background: transparent;
        border: none;
        box-shadow: none;
        height: auto;
        padding: 0;
    }

    :global(.ant-select-selection-item) {
        font-size: 24px;
        color: #afb6d0;
    }

    :global(.ant-select-arrow) {
        color: #afb6d0;
    }

    :global(.ant-select-focused) {
        box-shadow: none;
    }
}
